@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 21px;
  font-family: 'Merriweather', serif;
}
#header1-1 I {
  color: #000000;
}

#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .mbr-brand__name a {
  font-size: 21px;
  font-family: 'Merriweather', serif;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-5 .mbr-article H1 {
  text-align: center;
}
